backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
deepdish==0.3.6
future==0.18.2
h5py==2.10.0
hypertools==0.6.2
idna==2.9
imageio==2.8.0
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
kiwisolver==1.1.0
llvmlite==0.31.0
matplotlib==3.0.3
nibabel==3.0.1
nilearn==0.6.2
numba==0.47.0
numexpr==2.7.1
numpy==1.18.1
pandas==0.24.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
ppca==0.0.4
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scikit-learn==0.21.0
scipy==1.4.1
seaborn==0.9.1
six==1.14.0
sklearn==0.0
supereeg==0.2.2
tables==3.4.4
traitlets==4.3.3
umap-learn==0.3.10
urllib3==1.25.8
wcwidth==0.1.8
